
<h2 class="text-center">Cart</h2>
<div id="carts" class="d-flex flex-wrap w-50"></div>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script>
  const socket = io();
  socket.on("carts", data=> {
    console.log(data);
    let template = ``
    template = data.map(each=>`
        <div class="card m-3" style="width: 18rem; background: #ffedbc">
        <p> ${each._id} </p>
        <p> ${each.user_id} </p>
        <p> ${each.product_id} </p>
        <p> ${each.quantity} </p>
        <p> ${each.state} </p>


            </div>
        <button type="button" class="btn btn-warning">Delete</button>
        </div>`
    ).join("")
    document.querySelector("#carts").innerHTML = template
    })


</script>

