<h2 class="mb-4">Productos</h2>

<div class="d-flex">
    <div class="w-50">
        <form>
            <div class="mb-3">
                <label class="form-label">Título</label>
                <input id="title" type="text" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Foto</label>
                <input id="photo" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Material</label>
                <input id="category" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Precio</label>
                <input id="price" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Stock</label>
                <input id="stock" type="text" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary" id="newProduct">Crear producto</button>
        </form>
    </div>
    <div id="products" class="d-flex flex-wrap w-50"></div>

</div>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script>
  const socket = io();
  socket.on("products", data=> {
    console.log(data);
    let template = ``
    template = data.map(each=>`
        <div class="card m-3" style="width: 18rem; background: #ffedbc">
        <a class="navbar-brand" href="/products/${each._id}">
            <img style="height: 12rem" src="${each.photo}" class="card-img-top" alt="${each._id}">
            <div class="card-body">
                <h5 class="card-title fs-4">${each.title}</h5>
                <p class="fs-6"> Stock: ${each.stock}</p>
            </div>
        </a>
        <button type="button" class="btn btn-warning">Agregar al carrito</button>
        </div>`
    ).join("")
    document.querySelector("#products").innerHTML = template
    })
    document.querySelector("#newProduct").addEventListener("click", (event)=> {
        const title = document.querySelector("#title").value
        const photo = document.querySelector("#photo").value
        const category = document.querySelector("#category").value
        const price = document.querySelector("#price").value
        const stock = document.querySelector("#stock").value
        const user_id = "662d7c0a0232c7d0cc1a95b6"
        console.log({title, photo, category, price, stock, user_id})
        socket.emit("newProduct", {title, photo, category, price, stock, user_id})
    })

</script>

