
<h2 class="text-center" style="margin-bottom: 20%">Registro de Nuevo Usuario</h2>
<div class="position-absolute start-50 translate-middle text-center" style="max-width: 40 rem margin-bottom: 20%">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
            <div class="mb-3">
            <label class="form-label">URL Photo</label>
            <input id="photo" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" required>
        </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Repeat Password</label>
            <input type="password" class="form-control" id="exampleInputRepeatPassword1" required>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
